.name {
    color: #ff9e58;
}
.company {
    color: #844bf7;
}
.profile-img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    object-position: center;
    object-fit: cover;
    border: 2px solid #7ad1da;
    border-style: dashed;
}
.flex-align-content {
    display: flex; 
    align-content: start;
}
.profile-img-block {
    margin-right: 20px;
}
.profile-block {
    margin: 20px;
}
table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
  }
  
  thead {
    background-color: #e998ac;
  }
  table {
    border-collapse: collapse;
    width: 30%;
    background-color: #fff;
  }
  
  th, td {
    padding: 15px;
  }
.dot-line {
    border-style: dotted;
}
.section1 {
    background-color: #FFCFDF;
    padding: 20px;
}
.section2 {
    background-color: #DCD6F7;
    padding: 20px;
}
.section3 {
    background-color: #FCE38A;
    padding: 20px;
}
.text-custom1 {
    font-weight: bold;
    color: darkviolet;
    margin: 20px;
}
a {
    color: #d83c63;
}
